@import "shared.css";

/* Section 1: Body Styles ----------------------------------------------------*/

body {
    align-items: center;
    background-color: var(--background-colour-primary);
    color: var(--font-colour-primary);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    transition-duration: var(--transition-duration-colour);
}

a:link {
    color: var(--link-colour);
}

a:visited {
    color: var(--link-colour);
}

a:active {
    color: var(--link-colour);
}


/* Section 2: Header Styles --------------------------------------------------*/

.header {
    background-color: var(--background-colour-secondary);
    display: flex;
    height: 60px;
    justify-content: center;
    width: 100%;
}

.header-title {
    color: var(--font-colour-title);
    line-height: 60px;
    font-size: 1.70rem;
    font-weight: var(--font-weight-title);
    height: 60px;
    transition-duration: 0s;
}

.header-subtitle {
    color: var(--font-colour-secondary);
    line-height: 60px;
    font-size: 1.70rem;
    height: 60px;
    transition-duration: 0s;
}

.header-logo {
    display: inline-block;
    height: 24px;
    padding: 18px;
    width: auto;
    user-select: none;
}

/* Section 3: Divider Styles -------------------------------------------------*/

.divider {
    background-color: var(--divider-colour);
    height: 1px;
}

/* Section 4: Section Styles -------------------------------------------------*/

.divider, .section {
    width: 800px;
}

.section-title {
    color: var(--font-colour-primary);
    line-height: 1.50rem;
    font-size: 1.50rem;
    font-weight: var(--font-weight-title);
    padding: 24px 0 12px 0;
}

.section-description {
    color: var(--font-colour-secondary);
    line-height: 14px;
    font-size: 1.20rem;
    padding-bottom: 44px;
}

.section-group {
    display: flex;
    padding: 0 0 24px 0;
}

.section-group-left {
    font-size: 1.20rem;
    font-weight: var(--font-weight-primary);
    width: 160px;
}

.section-group-right {
    width: 100%
}

/* Section 5: Option Styles --------------------------------------------------*/

.section-option {
    display: flex;
    margin-bottom: 24px;
}

.section-option-left {
    margin-top: 2px;
    width: 60px;
}

.section-option-title {
    font-size: 1.20rem;
    font-weight: var(--font-weight-primary);
    line-height: 24px;
    height: 24px;
}

.section-option-description {
    color: var(--font-colour-secondary);
    line-height: 14px;
    font-size: 1.20rem;
}

/* Section X: Toggle Styles --------------------------------------------------*/

div.section-option-toggle {
    align-items: left;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: center;
    position: relative;
    /* width: 100%; */
}

/* Section 4.1: Toggle Checkbox Styles ---------------------------------------*/
div.section-option-toggle input {
    -moz-appearance: none;
    display: none;
    height: 0;
    width: 0;
}

/* Section 4.2: Toggle Thumb Styles ------------------------------------------*/
label.section-option-toggle::before {
    background-color: var(--disabled-colour);
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    content: "";
    height: 18px;
    position: absolute;
    top: 1px;
    transition-duration: var(--transition-duration-toggle);
    width: 18px;
}

input:checked + label.section-option-toggle::before {
    background-color: var(--accent-colour);
    transform: translateX(16px);
    transition-duration: var(--transition-duration-toggle);
}

/* Section 4.3: Toggle Track Styles ------------------------------------------*/
label.section-option-toggle {
    background-color: var(--track-colour-toggle);
    border-radius: 32px;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    width: 32px;
}

input:disabled + label.section-option-toggle {
    cursor: default;
    opacity: 0.38;
}