/* Section 0: Testing Styles -------------------------------------------------*/
.red {
    background-color: #F00;
}

.green {
    background-color: #0F0;
}

.blue {
    background-color: #00F;
}

/* Section 1: Global Styles --------------------------------------------------*/
:root {
    font-size: 12px;
    --accent-colour: #065FD4;
    --accent-colour-hover: #0048B8;
    --background-colour-header: #FFFFFF;
    --background-colour-controls: #F9F9F9;
    --background-colour-tooltips: #616161;
    --disabled-colour: #909090;
    --font-colour-title: #282828;
    --font-colour-primary: #0D0D0D;
    --font-colour-secondary: #757575;
    --font-colour-icons: #909090;
    --font-colour-icons-hover: #5E5E5E;
    --font-colour-tooltips: #FFFFFF;
    --font-weight-title: 500;
    --font-weight-primary: 500;
    --font-weight-secondary: 400;
    --thumb-translation: 0px;
    --thumb-size: 14px;
    --track-colour-toggle: #E7E7E7;
    --track-colour-slider: #CCCCCC;
    --transition-delay-tooltip: 0.5s;
    --transition-duration-colour: 0s;
    --transition-duration-slider: 0s;
    --transition-duration-toggle: 0s;
}

:root[theme='dark'] {
    font-size: 12px;
    --accent-colour: #3EA6FF;
    --accent-colour-hover: #73CFFF;
    --background-colour-header: #202020;
    --background-colour-controls: #181818;
    --background-colour-tooltips: #616161;
    --disabled-colour: #909090;
    --font-colour-title: #FFFFFF;
    --font-colour-primary: #FFFFFF;
    --font-colour-secondary: #AAAAAA;
    --font-colour-icons: #909090;
    --font-colour-icons-hover: #D4D4D4;
    --font-colour-tooltips: #FFFFFF;
    --font-weight-title: 500;
    --font-weight-primary: 500;
    --font-weight-secondary: 400;
    --thumb-translation: 0px;
    --thumb-size: 14px;
    --track-colour-toggle: #3C3C3C;
    --track-colour-slider: #2F2F2F;
    --transition-delay-tooltip: 0.5s;
    --transition-duration-colour: 0s;
    --transition-duration-slider: 0s;
    --transition-duration-toggle: 0s;
}

body {
    margin: 0;
    min-width: 360px;
    max-width: 360px;
}

body * {
    cursor: default;
    font-family: 'Roboto', sans-serif;
    transition-duration: var(--transition-duration-colour);
}

/* Section 2: Header Styles --------------------------------------------------*/
#header {
    background-color: var(--background-colour-header);
    height: 60px;
    width: 100%;
}

#logo {
    float: left;
    height: 24px;
    padding: 18px;
    width: auto;
}

#title {
    color: var(--font-colour-title);
    float: left;
    line-height: 60px;
    font-size: 1.70rem;
    font-weight: var(--font-weight-title);
    transition-duration: 0s;
    vertical-align: middle;
}

/* Section 2.1: Action Styles ------------------------------------------------*/
#actions {
    align-content: center;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: center;
    height: 60px;
    padding-right: 15px;
}

div.action {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 20px 10px;
    user-select: none;
}

div.action input {
    display: none;
}

div.action label {
    color: var(--font-colour-icons);
    font-size: 1.60rem;
    line-height: 20px;
    text-decoration: none;
}

div.action a {
    color: var(--font-colour-icons);
    display: inline-block;
    font-size: 1.60rem;
    line-height: 20px;
    text-decoration: none;
}

.material-icons:hover {
    color: var(--font-colour-icons-hover);
    cursor: pointer;
}

/* Section 3: Control Styles -------------------------------------------------*/
#controls {
    background-color: var(--background-colour-controls);
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.control {
    vertical-align: middle;
    width: 100%;
}

div.control-margin {
    align-items: center;
    display: flex;
    float: left;
    height: 60px;
    width: 60px;
}

div.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 300px;
}

div.control-split {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    user-select: none;
}

div.control-description {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    width: 100%;
}

div.control-name {
    color: var(--font-colour-primary);
    display: inline-block;
    font-size: 1.15rem;
    font-weight: var(--font-weight-primary);
    transition-duration: 0s;
}

div.control-help {
    color: var(--font-colour-secondary);
    display: inline-block;
    font-size: 1.10rem;
    font-weight: var(--font-weight-secondary);
    transition-duration: 0s;
}

/* Section 4: Toggle Styles --------------------------------------------------*/
div.control-toggle {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 100%;
}

label.control-toggle {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 12px;
}

/* Section 4.1: Toggle Checkbox Styles ---------------------------------------*/
label.control-toggle input { 
    -moz-appearance: none;
    display: none;
    height: 0;
    width: 0;
}

/* Section 4.2: Toggle Thumb Styles ------------------------------------------*/
span.control-toggle::before {
    background-color: var(--disabled-colour);
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    content: "";
    height: 18px;
    position: absolute;
    top: -3px;
    transition-duration: var(--transition-duration-toggle);
    width: 18px;
}

input:checked + span.control-toggle::before {
    background-color: var(--accent-colour);
    transform: translateX(16px);
    transition-duration: var(--transition-duration-toggle);
}

/* Section 4.3: Toggle Track Styles ------------------------------------------*/
span.control-toggle {
    background-color: var(--track-colour-toggle);
    border-radius: 32px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* Section 5: Slider Styles --------------------------------------------------*/
div.control-slider {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: space-between;
    width: 100%;
}

/* Section 5.1: Slider Track Styles ------------------------------------------*/
input.control-slider {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: var(--track-colour-slider);
    border-radius: 2px;
    cursor: pointer;
    flex: 1;
    height: 4px;
    margin-top: 8px;
    outline: none;
    vertical-align: middle;
}

input.control-slider:disabled {
    background: var(--track-colour-slider);
    cursor: default;
}

input.control-slider::-moz-focus-outer {
    border: none;
}

/* Section 5.2: Enabled Slider Thumb Styles ----------------------------------*/
input.control-slider::-moz-range-thumb {
    -moz-appearance: none;
    background: var(--accent-colour);
    border-radius: 50%;
    border: 2px solid var(--background-colour-controls);
    height: var(--thumb-size);
    transition-duration: var(--transition-duration-slider);
    width: var(--thumb-size);
}

input.control-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--accent-colour);
    border-radius: 50%;
    border: 2px solid var(--background-colour-controls);
    height: var(--thumb-size);
    transition-duration: var(--transition-duration-colour), var(--transition-duration-slider);
    transition-property: all, transform;
    width: var(--thumb-size);
}

/* Section 5.3: Disabled Slider Thumb Styles ---------------------------------*/
input.control-slider:disabled::-webkit-slider-thumb {
    background: var(--track-colour-slider);
    transform: translateX(var(--thumb-translation));
    transition-duration: var(--transition-duration-colour), var(--transition-duration-slider);
    transition-property: all, transform;
}

input.control-slider:disabled::-moz-range-thumb {
    background: var(--track-colour-slider);
    transform: translateX(var(--thumb-translation));
    transition-duration: var(--transition-duration-slider);
}

/* Section 5.4: Slider Label Styles ------------------------------------------*/
label.control-slider {
    color: var(--font-colour-primary);
    display: inline-block;
    font-size: 1.10rem;
    font-weight: var(--font-weight-primary);
    line-height: 20px;
    margin: 0 10px 10px 0;
    text-align: right;
    transition-duration: var(--transition-duration-colour), 0s;
    transition-property: all, font-weight;
    vertical-align: top;
    width: 35px;
}

input.control-slider:disabled + label.control-slider {
    color: var(--disabled-colour);
}

/* Section 6: Bookmark Styles ------------------------------------------------*/
div.control-bookmark {
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 0;
    user-select: none;
}

div.control-bookmark input {
    display: none;
}

div.control-bookmark label {
    color: var(--font-colour-icons);
    font-size: 1.70rem;
    line-height: 20px;
    vertical-align: center;
}

div.control-bookmark input:checked + label {
    color: var(--accent-colour);
}

div.control-bookmark input:checked + label:hover {
    color: var(--accent-colour-hover);
}

/* Section 7: Tooltip Styles -------------------------------------------------*/
div.tooltip {
    position: relative;
    display: inline-block;
}

span.tooltip {
    background-color: var(--background-colour-tooltips);
    color: var(--font-colour-tooltips);
    display: inline-block;
    border-radius: 4px;
    font-size: 0.96rem;
    height: 22px;
    line-height: 22px;
    position: absolute;
    opacity: 0;
    text-align: center;
    vertical-align: center;
    visibility: hidden;
    z-index: 1;
}

#hide-videos-tooltip {
    right: 22px;
    top: 50px;
    width: 240px;
}

label.tooltip:hover ~ span.tooltip {
    opacity: 1;
    transition-delay: var(--transition-delay-tooltip);
    visibility: visible;
}

span.tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    right: 5px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--background-colour-tooltips) transparent;
}